<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reminder</title>
    <link rel='stylesheet' href="resources/css/pico.min.css">
    <link rel='stylesheet' href="resources/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
</head>
<body>
<main class='container'>
    <div>
        <div>
            <a class='but-done' role='button' href='/Lesson070/'>Home</a>
        </div>
    </div>
    <div class='tasks'>
        <div class='sort-task'>
            <h2 class="h">Your done task's list</h2>
        </div>
        %s
    </div>
</main>
</body>
</html>